fastapi
uvicorn[standard]

python-dotenv
pydantic
pydantic-settings
email-validator

google-genai
google-generativeai

langchain
chromadb

PyMuPDF
pypdf
python-docx
python-multipart

numpy
tenacity

PyJWT